<div class="tradelist">

<div class="container" >
    <center>
    
  <br><br>
  

<h1> 현재 받은 신청서</h1><br>
    <table width="800" >
    <tr>
        <th> 수락상태</th>
        <th> 제목 </th>
        <th> 내용 </th>
        <th> 작성자</th>
        <th> 작성시간</th>
    </tr>
    <% @applies.each do |x| %>
    <tr onClick = " location.href='/apply/con/<%=x.id%>/<%=x.tradepost_id%>' ">
    <td>
        <% if x.matching %>
            수락하셨습니다
        <% else %>
            <a href="/apply/accept/<%=x.id%>">교환 수락하기</a>
        <% end %>
    </td>
    <td width="350"> <%=x.title%> </td>
    <td> <%=x.content %></td>
    <td><%= x.user_id%></td>
    <td><%= (x.created_at + 32400 ).strftime"%m / %d"%></td>
    </tr>
    <%end%>
    </table>

  </center>
  </div>
  
</div>