<style>
  body{
    background-color:#fafafb;
  }
  .cenbox{
   position: absolute;
   width: 500px;
   left: 50%;
   top: 50%;
   margin-left: -250px;
   margin-top: -250px;
   border: 1px #d9d9d9 solid;
   background: white;
   text-align: center;
   font-family: 'Nanum Gothic Coding', monospace;
   padding:60px 10px 60px 10px;
  }

  .inbox {
    background-color:#fafafb;
    border: 1px #d9d9d9 solid;
    width:230px;
    padding:10px;
    margin:10px;
  }
  
  .field select {
    width: 230px;
    padding: 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color:#fafafb;
    border: 1px #d9d9d9 solid;
  }
  
  .incen {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
  }
  
  .my_btn {
    border: 1px #B0C4DE solid;
    border-radius:10px;
    background-color:#B0C4DE;
    padding:10px;
    width:230px;
    margin:10px;
    color:white;
    font-weight:bold;
  }
  
  label {
    color: #555;
  }

</style>
<h1><img src="/assets/move.gif" width="50px" height="auto">어덕나덕<img src="/assets/move.gif" width="50px" height="auto"></h1>
<div class="cenbox">

<% year = Array.new {Array.new} %>
      <% for i in 1980..Time.now.year do %>
        <% year << [i, i] %>
      <% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class: "inbox",placeholder: "이름" %>
  </div>
  
<br>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "inbox",placeholder: "이메일주소"%>
  </div>
  
<br>

  <div class="field">
    <% if @minimum_password_length %>
    <%= f.password_field :password, autocomplete: "off" ,class: "inbox",placeholder: "비밀번호 ( #{@minimum_password_length}글자 이상 )"%>
    <% else %>
    <%= f.password_field :password, autocomplete: "off" ,class: "inbox",placeholder: "비밀번호"%>
    <% end %>
  </div>
  
<br>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "inbox",placeholder: "비밀번호 확인"%>
  </div>
    
<br>

  <div class="field">
    <%= f.label :sex %><br />
    <%= f.radio_button(:sex, "Female") %>
    <%= f.label(:sex_female, "Female") %>
    <%= f.radio_button(:sex, "Male") %>
    <%= f.label(:sex_male, "Male") %>
  </div>
    
<br>

   <div class="field">
    <%= f.label :birthyear %><br />
    <%= f.select(:birthyear)  do %>
      <% year.each do |c| -%>
      <%= content_tag(:option, c[0], value: c[1] ) %>
      <% end %>
    <% end %>
  </div>
      
  
    
<br>

<div class="field">
    <%= f.text_field :region, autofocus: true, autocomplete: "region" ,class: "inbox",placeholder: "지역"%>
  </div>
  
<br>

  <div class="field">
    <%= f.text_field :kakao, autofocus: true, autocomplete: "kakao" ,class: "inbox",placeholder: "카카오톡 아이디"%>
  </div>
    
<br>

  <div class="field">
    <%= f.label :interest %><br />
    <%= f.radio_button(:interest, "DAY6") %>
    <%= f.label(:interest, "DAY6") %>
    <%= f.radio_button(:interest, "EXO") %>
    <%= f.label(:interest, "EXO") %>
    <%= f.radio_button(:interest, "BTS") %>
    <%= f.label(:interest, "BTS") %>
    <%= f.radio_button(:interest, "BLACKPINK") %>
    <%= f.label(:interest, "BLACKPINK") %><br>
    <%= f.radio_button(:interest, "INFINITE") %>
    <%= f.label(:interest, "INFINITE") %>
    <%= f.radio_button(:interest, "TWICE") %>
    <%= f.label(:interest, "TWICE") %>
    <%= f.radio_button(:interest, "etc") %>
    <%= f.label(:interest, "기타") %>
    <input type="text" id="etctext" name="etxtext" onChange="check(this.form)"/>
    
    
  </div>
<br>

  <div class="actions">
    <br>
     <%= f.submit "가입하기" , class:"my_btn"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>

<script>
function check(form) {
  var t2 = document.getElementById('user_interest_etc')
  // alert(t2.checked);
  if (t2.checked == 1){
  document.getElementById('user_interest_etc').value = document.getElementById('etctext').value;}
}
</script>