<div class="tradeedit">
<center>
<table>
    <tr> 
        <td style="background-color:#f2f2f2" height="40"> 게시글 수정</td> 
    </tr>
    <tr>
        <td>
<form action="/trade/update/<%=params[:post_id]%>" method="post" enctype="multipart/form-data">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <br>
    <input type="radio" name="category" value="교환" <%if @post.category == "교환" %> checked="checked" <%end%> /> 교환
             <input type="radio" name="category" value="공구" <%if @post.category == "공구" %> checked="checked" <%end%> /> 공구<br><br>
             
             
             
                <input type="text" class="form-control" name="title" value="<%=@post.title%>"/>
             <br>
             
                <textarea class="form-control" rows="5" id="content" name="content"><%=@post.content%></textarea>

             <br>
             
                <input type="text"  class="form-control" name="wanted" value="<%=@post.wantitem%>"/>
             <br>
    
    
    <button class="btn" id="btn" type="submit"><img class="btn-img" src="/assets/done.png" width="100" height="auto"></button>

</form>
</td></tr></table>
</center>
</div>