

<div class="tradehome">
<div class="cont" >
    <center>
    <H2>교환 공구 게시판 게시글 목록</H2></center>
  <br><br>
  <center>
<div >
<ul class="nav nav-pills nav-justified">
  <li class="active"><a data-toggle="pill" href="#home">ALL</a></li>
  <li><a data-toggle="pill" href="#menu3">교환</a></li>
  <li><a data-toggle="pill" href="#menu2">공구</a></li>
</ul>
 </div><br><br>
<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <table>
    <%@posts.each do |x|%>
    <tr onClick = " location.href='/trade/index/<%=x.id%>' ">
    <td width="75"><font color="gray"><%= x.category %></font></td>
    <td width="600"> <%= x.title %> </td>
    <td width="75"><font color="gray"><%= x.user_id%></font></td>
    <td> <font color="gray"><%=(x.created_at + 32400 ).strftime("%m-%d %H:%M") %></font></td>
    
    </tr>
    <%end%>
    </table>
  </div>
  <div id="menu3" class="tab-pane fade">
    <table>
    <%@na.each do |x|%>
    <tr onClick = " location.href='/trade/index/<%=x.id%>' ">
    <td width="75"><font color="gray"><%= x.category %></font></td>
    <td width="600"> <%= x.title %> </td>
    <td width="75"><font color="gray"><%= x.user_id%></font></td>
    <td> <font color="gray"><%=(x.created_at + 32400 ).strftime("%m-%d %H:%M") %></font></td>
    </tr>
    <%end%>
    </table>
  </div>
  <div id="menu2" class="tab-pane fade">
    <table >
    <%@gong.each do |x|%>
    <tr onClick = " location.href='/trade/index/<%=x.id%>' ">
    <td width="75"><font color="gray"><%= x.category %></font></td>
    <td width="600"> <%= x.title %> </td>
    <td width="75"><font color="gray"><%= x.user_id%></font></td>
    <td> <font color="gray"><%=(x.created_at + 32400 ).strftime("%m-%d %H:%M") %></font></td>
    </tr>
    <%end%>
    </table>
  </div>
</div>

  
  
  </center>
  <br><br>
<div style="float:right;">
     <a href="/trade/new"><span class="glyphicon glyphicon-plus"></span>새 글</a>
  </div>
</div>

</div>