<%= form_for(@post,:onchange => 'check(this.post[videourl])') do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :제목 %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :내용 %><br>
    <%= f.text_area :content, cols: "50", rows: "10" %>
  </div>
  <div class="field">
    <%= f.label :영상url첨부%><br><font color="gray">(html 소스로 부탁드립니다)</font> <a href="/posts/hel" style="color:#99cce5">URL 첨부 도움말</a><br>
    <%= f.text_area :videourl, cols: "100", rows: "2" , :onchange => 'check(this)'%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
function check(obj) {
   if(obj.value.indexOf("/embed/") == -1) {
    obj.style.backgroundColor = '#fbd0d4';
    alert("정상적인 URL을 입력해주세요\n도움말 참조");
    obj.focus();
    return false;
  }
  else return true;
}
</script>