<center>

<h1> 해석좀 부탁해요ㅠㅡㅠ</h1>

<br>
<%= link_to "새로운 요청글 작성하기", new_post_path %>
<br><br><br>
<%= form_tag posts_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "검색" , :name => nil %>
<% end %>
<table width = "80%" height = "auto" cellspacing = "0"  class="type10">
  <thead>
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th>댓글수</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td width="20%"><%= post.title %></td>
        <td width="50%"><%= post.content %></td>
        <td><%= post.comment_threads.count %></td>
        <td><%= link_to '보기', post %></td>
        <td><%= link_to '수정', edit_post_path(post) %></td>
        <td><%= link_to image_tag("delete.png", :border=>0), post, method: :delete, data: { confirm: '정말 지우겠어요?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</center>
