<div class="mpage">
  
  
  
  <div id="mpo" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">나의 게시글 (<%=@mpo.count%>)</h4>
      </div>
      <div class="modal-body">
       <table align="center">
         <tr>
           <th>제목</th>
           <th>내용</th>
         </tr>
         <% @mpo.each do |a| %>
         <tr>
           <td><%=a.title%></td>
           <td><%=a.content%></td>
         </tr>
         <% end %>
       </table>
      </div>
  
    </div>

  </div>
</div>

  <div id="friend" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">나의 친구덜 (<%=@friend.count + @friend2.count%>)</h4>
      </div>
      <div class="modal-body">
       <table align="center">
         <tr>
           <th>이름</th>
           <th>나이</th>
           <th>지역</th>
           <th>카톡아이디</th>
         </tr>
         <% @friend.each do |a| %>
         <tr>
           <% b = User.find(a.partner) %>
           <td><%=b.name%></td>
           <td><%= @time - (b.birthyear.to_i) + 1 %></td>
           <td><%=b.region%></td>
           <td><%=b.kakao%></td>
         </tr>
         <% end %>
         <% @friend2.each do |a| %>
         <tr>
           <% b = User.find(a.user_id) %>
           <td><%=b.name%></td>
           <td><%= @time - (b.birthyear.to_i) + 1 %></td>
           <td><%=b.region%></td>
           <td><%=b.kakao%></td>
         </tr>
         <% end %>
       </table>
      </div>
  
    </div>

  </div>
</div>
  
  
  
<h1> "<%= current_user.name %>" 로 말할 것 같으면 </h1>



<!-- modal button -->
<div class="btn-group">
  
  <div class="btn-group">
    <button type="button" class="btn" data-toggle="dropdown"> 자막을 부탁해  <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a data-toggle="modal" data-target="#mpo">나의 게시글</a></li>
      <li><a data-toggle="modal" data-target="#comment">나의 댓글</a></li>
    </ul>
  </div>
 
  <div class="btn-group">
    <button type="button" class="btn" data-toggle="dropdown"> 스타디 <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a data-toggle="modal" data-target="#stupo">나의 게시글</a></li>
      <li><a data-toggle="modal" data-target="#mystuapp">나의 신청</a></li>
      <li><a data-toggle="modal" data-target="#badstuapp">받은 신청</a></li>
    </ul>
  </div>
  
  <div class="btn-group">
    <button type="button" class="btn" data-toggle="dropdown"> 바꿔나눠 <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a data-toggle="modal" data-target="#tradpo">나의 게시글</a></li>
      <li><a data-toggle="modal" data-target="#mytrade">나의 신청</a></li>
      <li><a data-toggle="modal" data-target="#badtrade">받은 신청</a></li>
    </ul>
  </div>
  
  <div class="btn-group">
    <button type="button" class="btn" data-toggle="dropdown"> 덕메 사냥 <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a data-toggle="modal" data-target="#myapp">나의 신청</a></li>
      <li><a data-toggle="modal" data-target="#badapp">받은 신청</a></li>
      <li><a data-toggle="modal" data-target="#friend">내 친구덜</a></li>
    </ul>
  </div>
  
  <button type="button" class="btn" data-toggle="modal" data-target="#mySc"> 스크랩 </span></button>
  
  
</div>

<hr>
<span style="font-family: 'Nanum Gothic Coding', monospace;">
    
    <table align="center" class="maintable">
        <tr style="border:none">
            <td rowspan="6" width="200px">♥ <%= current_user.interest %> ♥</td>
            <td colspan="2">ID : <%= current_user.id %></td>
        </tr>
        <tr>
            <td>NAME : <%= current_user.name %></td>
            <td>AGE : <%= Time.now.year - current_user.birthyear + 1%></td>
        </tr>
        <tr>
            <td>SEX : <%= current_user.sex %></td>
            <td>REGION : <%= current_user.region %></td>
        </tr>
        <tr>
            <td colspan="2">
                <% if @character == nil %>
                     덕메사냥을 위한 정보를 입력해주세요 <a href="/character/new">입력하러가기</a>
                 <% else %>
                     CHARACTER : <%= @character.character %> <br>
                 <% end %>
            </td>
        </tr>
        <tr>
            <td colspan="2">KAKAOTALK ID : <%= current_user.kakao %></td>
        </tr>
        <tr>
            <td colspan="2">EMAIL : <%= current_user.email %></td>
        </tr>
    </table>
  

    </span>



<!-- Modal -->

<div id="myapp" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">내가 한 친구 신청 (<%=@hanchinchu.count%>)</h4>
      </div>
      <div class="modal-body">
        <% @hanchinchu.each do |a|%>
            <% us = User.find_by(id: a.partner) %>
            <a  data-toggle="popover" title="<%= a.partner %>의 자기 소개" data-content="<%= Character.find_by(user_id: us.id).introduce %>"><%= a.partner %></a>
            &nbsp;
            <%= Character.find_by(user_id: us.id).character %>&nbsp;
            매칭상태 : <% if a.matching %> <%= us.kakao %> <% else %><%= a.matching %><% end %>
            
            <br>
        <%end%>
      </div>
    </div>
  </div>
</div>


<div id="badapp" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">내가 받은 친구 신청 (<%=@onchinchu.count%>)</h4>
      </div>
      <div class="modal-body">
        <% @onchinchu.each do |a|%>
            <% us = User.find(a.user_id) %>
            친추한 사람:  <a  data-toggle="popover" title="<%= a.user_id %>의 자기 소개" data-content="<%= Character.find_by(user_id: a.user_id).introduce %>">
                <%= us.name %> </a>
            지역 : <%= us.region%>
            성별 : <%= us.sex%>
            나이 : <%= @time - us.birthyear + 1%>
            성격 : <%= Character.find_by(user_id: a.user_id).character%> 
                    <% if a.matching %>
                        => 친구 수락 성공 ! <%= a.user_id %>의 카카오톡 아이디 : <%= us.kakao%>
                    <% else %>
                        <form action='/mateapply/<%= a.user_id%>/accept/<%= a.id%>' method='post'>
                          <button> 수락하기 </button>  
                        </form>
                    <% end %>
             <br>    
            <% end %>
      </div>
    </div>
  </div>
</div>

<div id="tradpo" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">나의 게시글 (<%=@tradepost.count%>)</h4>
      </div>
      <div class="modal-body">
         <table align="center">
             <tr>
                 <th>카테고리</th>
                 <th>제목</th>
                 <th>내용</th>
                 <th>원하는 아이템</th>
                 <th>교환 상태</th>
             </tr>
        <% @tradepost.each do |a|%>
        <tr>
            <td><%= a.category %></td>
            <td><%= a.title %></td>
            <td><%= a.content %></td>
            <td><%= a.wantitem %></td>
            <td><%= a.state %></td>
        </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="mytrade" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">나의 교환 신청서 (<%=@mytradeapp.count%>)</h4>
      </div>
      <div class="modal-body">
         <table align="center">
             <tr>
                 <th>해당 교환글</th>
                 <th>제목</th>
                 <th>내용</th>
                 <th>수락 상태</th>
             </tr>
        <% @mytradeapp.each do |a|%>
        <tr>
            <td><%= Tradepost.find(a.tradepost_id).title %></td>
            <td><%= a.title %></td>
            <td><%= a.content %></td>
            <td><%= a.matching %></td>
        </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="badtrade" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">받은 교환신청서 (<%=@badtradeapp.count%>)</h4>
      </div>
      <div class="modal-body">
         <table align="center">
             <tr>
                 <th>해당 교환글</th>
                 <th>제목</th>
                 <th>내용</th>
                 <th>신청자태</th>
                 <th>수락 상태</th>
             </tr>
        <% @badtradeapp.each do |a|%>
        <tr>
            <td><%= Tradepost.find(a.tradepost_id).title %></td>
            <td><%= a.title %></td>
            <td><%= a.content %></td>
            <td><%= a.user_id %></td>
            <td>
                <% if a.matching %>
                    수락하셨습니다
                <% else %>
                    <a href="/apply/accept/<%=a.id%>">교환 수락하기</a>
                <% end %>
            </td>
        </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>



<div id="stupo" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">나의 게시글 (<%=@mystu.count%>)</h4>
      </div>
      <div class="modal-body">
         <table align="center">
             <tr>
                 <th>공부 언어</th>
                 <th>제목</th>
                 <th>내용</th>
             </tr>
        <% @mystu.each do |a|%>
        <tr>
            <td><%= a.country %></td>
            <td><%= a.title %></td>
            <td><%= a.content %></td>
        </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>


<div id="mystuapp" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">나의 스터디 신청서 (<%=@mystuap.count%>)</h4>
      </div>
      <div class="modal-body">
         <table align="center">
             <tr>
                 <th>해당 스터디글</th>
                 <th>제목</th>
                 <th>내용</th>
             </tr>
        <% @mystuap.each do |a|%>
        <tr>
            <td><%= Stu.find(a.stu_id).title %></td>
            <td><%= a.title %></td>
            <td><%= a.content %></td>
        </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>


<div id="badstuapp" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">받은 스터디 신청서(<%=@badstu.count%>)</h4>
      </div>
      <div class="modal-body">
         <table align="center">
             <tr>
                 <th>해당 스터디글 제목</th>
                 <th>제목</th>
                 <th>내용</th>
                 <th>신청자</th>
             </tr>
        <% @badstu.each do |a|%>
        <tr>
            <td><%= Stu.find(a.stu_id).title %></td>
            <td><%= a.title %></td>
            <td><%= a.content %></td>
            <td><%= a.writer %></td>
        </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="mySc" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">나의 스크랩 ( <%=@scrap.count%> )</h4>
      </div>
      <div class="modal-body">
         <table align="center">
             <tr>
                 <th>제목</th>
                 <th>내용</th>
                 <th>작성자</th>
             </tr>
        <% @scrap.each do |a|%>
        <tr>
            <% @po = Tradepost.find(a.tradepost_id) %>
            <td><%= @po.title %></td>
            <td><%= @po.content %></td>
            <td><%= User.find(@po.user_id).name %></td>
        </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>


<div id="comment" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="font-family: 'Nanum Gothic Coding', monospace;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">내가 단 댓글</h4>
      </div>
      <div class="modal-body">
        <table align="center">
             <tr>
                 <th>해당 글</th>
                 <th>내용</th>
             </tr>
        <% @comm.each do |a|%>
        <tr>
            <td><%= Post.find_by(a.parent_id).title %></td>
            <td><%= a.body %></td>
        </tr>
        <% end %>
      </div>
    </div>
  </div>
</div>








</div>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>